[Unit]
Description=Run news-poll every 5 minutes
Requires=news-poll.service

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
AccuracySec=10s
Persistent=true

[Install]
WantedBy=timers.target
